<div class="well well-sm pink-well">
  <div><p"><%= user.name.titleize %></p>
  <% if user.doctor_id != 5 %>
  <%= form_for :user, :method => :PUT , :html => { :multipart => true } do |f| %>
    <%= f.hidden_field :doctor_id, value: 5 %>
    <%= f.submit 'Update' %>
  <% end %>
<% end %>

     </div>
</div>