<div class="well well-sm pink-well">
  <div>
  <% if current_user.superadmin_role? || current_user.supervisor_role? %>
    <p><%= user.name.titleize %></p>
    <% if user.doctor_id != 5 %>
      <%= link_to 'Click When Patient Seen', user_see_patient_path(user.id), method: :post %>
      <% else %>
      <p>Seen by Doctor Today</p>
      <% end %>
    <% else %>
    <p><%= user.name.titleize %></p>
  <% end %>

     </div>
</div>