<div>
  <h2>Which doctor is your appt with today?</h2>
</div>

<div class="row">
  <% @doctors.each do |doctor| %>
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail"><img src="<%= doctor.image %>"></div>
    <p><%= doctor.name %></p>
    <p><%= link_to 'Show', doctor %></p>
    </div>
    <% end %>
  
</div>




